In [5]:
import pandas as pd
import numpy as npy

In [40]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
for school in school_series:
 #   print(school)
    school_series = pd.Series(high_schools)
    type
print(school_series)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School
0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [20]:
high_school_dict = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
for schooltype in high_school_dict:
    print(schooltype)

{'School ID': 0, 'school_name': 'Huang High    School', 'type': 'District'}
{'School ID': 1, 'school_name': 'Figueroa High School', 'type': 'District'}
{'School ID': 2, 'school_name': 'Shelton High School', 'type': 'Charter'}
{'School ID': 3, 'school_name': 'Hernandez High School', 'type': 'District'}
{'School ID': 4, 'school_name': 'Griffin High School', 'type': 'Charter'}

In [26]:
schools_df = pd.DataFrame(high_school_dict)

In [39]:
# Add the list to a new DataFrame.
school_id = schools_df["School ID"] 
school_name = schools_df["school_name"] 
school_type = schools_df["type"] 
schools_df.columns
schools_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [34]:
# Print the DataFrame.
print(schools_df)
print(school_id)
print(school_name)
print(school_type)

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter
0    0
1    1
2    2
3    3
4    4
Name: School ID, dtype: int64
0     Huang High    School
1     Figueroa High School
2      Shelton High School
3    Hernandez High School
4      Griffin High School
Name: school_name, dtype: object
0    District
1    District
2     Charter
3    District
4     Charter
Name: type, dtype: object

In [41]:
school_data = pd.read_csv(Resources/schools_complete.csv)
student_data = pd.read_csv(Resources/students_complete.csv)

NameError: name 'Resources' is not defined